---
import Timer from '../components/Timer.astro';
---

<html>
  <head>
    <title>Countdown Timer</title>
  </head>
  <body>
    <h1>Countdown Timer</h1>
    <Timer seconds={300} />
  </body>
</html>